```{=html}
<% for (const item of items) { %>
    <div class="lecture-item">
        <h3>Занятие <%= item.number %>: <%= item.title %></h3>
        <div class="lecture-links">
            <% 
                var links = [];

                if(item.presentation) { links.push('<a href="' + item.presentation + '" class="link">Презентация</a>'); }
                if(item.material) { links.push('<a href="' + item.material + '" class="link">Конспект</a>'); }
                
                print(links.join(' • '));
            %>
        </div>
        <div class="lecture-video-links">
            <% 
                var links = [];

                if(item.youtube || item.gdrive) { 
                    var videoLinks = [];
                    if(item.youtube) { videoLinks.push('<a href="' + item.youtube + '" class="link">YouTube</a>'); }
                    if(item.gdrive) { videoLinks.push('<a href="' + item.gdrive + '" class="link">Google Drive</a>'); }
                    links.push(videoLinks.join(' • '));
                }

                if(item.s3_download_link) { links.push('<a href="' + item.s3_download_link + '" class="link">Скачать с S3</a>'); }
                print(links.join(' • '));
            %>
        </div>
        <div class="lecture-assignments-links">
            <% if (item.quiz) { %>
                <a href="<%= item.quiz %>" class="link">Квиз</a>
            <% } %>
            <% if (item.presentation) { %>
                <a href="<%= item.presentation %>" class="link">Презентация</a>
            <% } %>
        </div>
    </div>
<% } %>
```
